
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h3 class="card-title">Add New Employee</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="formUser" class="form-horizontal form-label-left" enctype="multipart/form-data">

                            <div class="form-group row ">
                                <label class="control-label col-md-2 col-sm-2 ">Salutation</label>
                                <div class="col-md-10 col-sm-10">
                                    <select class="form-control" id="Salutation"></select>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-2 col-sm-2">First Name</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" required id="Fname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-2 col-sm-2 ">Last Name</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" id="Lname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 ">Address</label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea id="Address" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 ">Email</label>
                                <div class="col-md-10 col-sm-10 ">
                                    <input type="text" id="Email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-2 col-sm-2 ">Contact No</label>
                                <div class="col-md-10 col-sm-10 ">
                                    <input type="text" id="ContactNo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 ">Branch</label>
                                <div class="col-md-10 col-sm-10 ">
                                    <select class="form-control" id="Branch"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-2 col-sm-2 ">User Type</label>
                                <div class="col-md-10 col-sm-10 ">
                                    <select class="form-control" id="UserType"></select>
                                </div>
                            </div>
                            <div class="bootstrap-timepicker">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-sm-2">Morning InTime</label>

                                    <div class="input-group date col-md-4 col-sm-4" id="timepicker" data-target-input="nearest">
                                        <input type="text" id="MorningIn" class="form-control datetimepicker-input" data-target="#timepicker" />
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>

                                    <label class="control-label col-md-2 col-sm-2" style="text-align:center">Morning OutTime</label>

                                    <div class="input-group date col-md-4 col-sm-4" id="timepicker1" data-target-input="nearest">
                                        <input type="text" id="MorningOut" class="form-control datetimepicker-input" data-target="#timepicker1" />
                                        <div class="input-group-append" data-target="#timepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bootstrap-timepicker">
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-sm-2">Evening InTime</label>

                                    <div class="input-group date col-md-4 col-sm-4" id="timepicker2" data-target-input="nearest">
                                        <input type="text" id="EveningIn" class="form-control datetimepicker-input" data-target="#timepicker2" />
                                        <div class="input-group-append" data-target="#timepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>

                                    <label class="control-label col-md-2 col-sm-2" style="text-align:center">Evening OutTime</label>

                                    <div class="input-group date col-md-4 col-sm-4" id="timepicker3" data-target-input="nearest">
                                        <input type="text" id="EveningOut" class="form-control datetimepicker-input" data-target="#timepicker3" />
                                        <div class="input-group-append" data-target="#timepicker3" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Status" value="true">
                                <label class="control-label" for="Status">Active</label>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                    <button type="button" id="btnAddEmployee" class="btn btn-success">Create</button>
                                    <button type="button" id="btnCancel" class="btn btn-warning">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadBranches();
        LoadUserTypes();
        LoadSalutation();
    });

    @*for Date Picker *@
        $(function () {
            //Date picker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })
            $('#timepicker1').datetimepicker({
                format: 'LT'
            })
            $('#timepicker2').datetimepicker({
                format: 'LT'
            })
            $('#timepicker3').datetimepicker({
                format: 'LT'
            })
        });

    function LoadBranches() {
        $('#Branch').find('option').remove().end();
        Branch = $('#Branch');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetBranchDetails", "Employee")',
            dataType: 'json',
            headers: {
                "Authorization": "Bearer " + sessionStorage.getItem('token'),
            },
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var myData = jQuery.parseJSON(JSON.stringify(response));
                if (myData.code == "1") {
                    var Result = myData.data;
                    Branch.append($("<option/>").val(0).text("-Select Branch-"));
                    $.each(Result, function () {
                        Branch.append($("<option/>").val(this.branchName).text(this.branchName));
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                }
            },
            error: function (jqXHR, exception) {
            }
        });
    }

    function LoadUserTypes() {
        $('#UserType').find('option').remove().end();
        UserType = $('#UserType');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetUserTypeDetails", "Employee")',
            dataType: 'json',
            headers: {
                "Authorization": "Bearer " + sessionStorage.getItem('token'),
            },
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var myData = jQuery.parseJSON(JSON.stringify(response));
                if (myData.code == "1") {
                    var Result = myData.data;
                    UserType.append($("<option/>").val(0).text("-Select UserType-"));
                    $.each(Result, function () {
                        UserType.append($("<option/>").val(this.role).text(this.role));
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                }
            },
            error: function (jqXHR, exception) {
            }
        });
    }

    function LoadSalutation() {
        $('#Salutation').find('option').remove().end();
        Salutation = $('#Salutation');
        var SalutationList = [
            { Id: 1, Name: "Mr" },
            { Id: 2, Name: "Mrs" },
            { Id: 3, Name: "Ms" },
            { Id: 4, Name: "Miss" },
            { Id: 5, Name: "Dr" },
            { Id: 5, Name: "Professor" }
        ];
        Salutation.append($("<option/>").val(0).text("-Select Salutation-"))
        $.each(SalutationList, function () {
            Salutation.append($("<option/>").val(this.Name).text(this.Name));
        });
    }

    $('#btnAddEmployee').click(function () {

        var Salutation = $('#Salutation').val();
        var Fname = $('#Fname').val();
        var Lname = $('#Lname').val();
        var Address = $('#Address').val();
        var Email = $('#Email').val();
        var ContactNo = $('#ContactNo').val();
        var Branch = $('#Branch').val();
        var UserType = $('#UserType').val();
        var MorningIn = $('#MorningIn').val();
        var MorningOut = $('#MorningOut').val();
        var EveningIn = $('#EveningIn').val();
        var EveningOut = $('#EveningOut').val();
        var Active = $('#Status').prop('checked') ? "true" : "false";

        var data = '{"Salutation": "' + Salutation +
            '" ,"FirstName":" ' + Fname +
            '" ,"LastName":" ' + Lname +
            ' ","Address":" ' + Address +
            ' " ,"Email":" ' + Email +
            ' ","PhoneNo":" ' + ContactNo +
            ' ","Branch": " ' + Branch +
            ' ","UserType":" ' + UserType +
            ' ","Active": ' + Active +
            ',"MorningInTime": "' + MorningIn +
            '","MorningOutTime": "' + MorningOut +
            '","EveningInTime": "' + EveningIn +
            '","EveningOutTime": "' + EveningOut + '"}';


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveEmployees", "Employee")',
            dataType: 'json',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var myData = jQuery.parseJSON(JSON.stringify(response));
                if (myData.code == "1") {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Your work has been saved',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    //$('#SeasonModal').modal('toggle');
                    //DisplaySeasonVehicle();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                }
            },
            error: function (jqXHR, exception) {
            }
            });
    });
</script>


